* {
  box-sizing: border-box;
}
body {
  position: fixed;
}
header {
  margin: auto;
  padding: auto;
}
body {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}

header nav {
  height: 120px;
}
header section img {
  width: 60px;
  display: block;
  margin-top: auto;
  margin-left: 10px;
}

main img {
  width: 20px;
}

header nav {
  display: flex;
  background-color: blueviolet;
}

header li {
  float: left;
  display: inline-block;
  padding: 15px 15px 0 15px;
  text-align: right;
}

header section {
  background-color: chocolate;
  text-align: right;
}

header p {
  text-align: right;
  display: inline-flex;
}
main {
  background-color: burlywood;
}
main div {
  width: 600px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
main img {
  height: 15px;
  width: 15px;
}
