* {
  box-sizing: border-box;
}

header img {
  width: 60px;
}

main img {
  width: 20px;
}

header nav {
  display: flex;
  background-color: blueviolet;
}

header li {
  float: left;
  display: block;
  padding: 15px;
  text-align: right;
}

header section {
  background-color: burlywood;
  display: flex;
  text-align: right;
}

header p {
  margin: 20px 70px 0 150px;
}

main div {
  display: flex;
}

main img {
  display: block;
  margin-right: 20px;
}
