* {
  box-sizing: border-box;
}
body {
  position: fixed;
}
header {
  margin: auto;
  padding: auto;
  background-color: blueviolet;
  display: flex;
  justify-content: space-around;
}
body {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 1.3em;
}
ul {
  list-style-type: none;
}

main section img {
  width: 60px;
  margin-top: auto;
  margin-left: 10px;
}

header nav {
  display: flex;
  background-color: blueviolet;
}

header li {
  display: inline-block;
  padding: 15px 15px 0 15px;
  text-align: right;
}

header section {
  background-color: chocolate;
}

header p {
  display: inline-flex;
}
main {
  background-color: burlywood;
}
main div {
  width: 600px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
main > section:nth-child(1) {
  display: flex;
  justify-content: space-between;
}

main > section:nth-child(1) > p {
  margin-right: 30px;
}

main > section > form {
  display: flex;
  flex-direction: column;
}
main > section > form > [type="submit"] {
  width: 70px;
  padding: 8px;
  background-color: cornflowerblue;
  color: white;
}
main div img {
  height: 15px;
  width: 15px;
}
